extends ../main
block content
  h1 Register:
  form.form-horizontal(method='POST',action='/users/register')
    .form-group
    .col-md-4
      input#name.form-control.input-md(type="text" name="username" placeholder="Enter your name" value=username )
    .form-group
    .col-md-4
      input#name.form-control.input-md(type="password" name="password" placeholder="Enter your password")
    .form-group
    .col-md-4
      input#name.form-control.input-md(type="password" name="confirmPassword" placeholder="Confirm your password")
    .form-group
    .col-md-4
      input#name.form-control.input-md(type="text" name="firstname"  placeholder="Enter your First name" value=firstname)
    .form-group
    .col-md-4
      input#name.form-control.input-md(type="text" name="lastname"  placeholder="Enter your Last name" value=lastname)
    .form-group
      .col-md-4
    button#signup.btn.btn-success(name="signup") Sign Up
