doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Food Catalog
    //- link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/site.css' type='text/css')
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') Food Catalog
        ul.nav.navbar-nav
          li.active
            a(href='/') Home
          li
            a(href='/contact-us') Contact us
        if(currentUser)
          ul.nav.navbar-nav
            li
              a(href='/recipe/add') Add Recipe
            li
              a(href='/category/add') Add Category
            li
              a(href='/recipe/all') All Recipe
            form.navbar-form.navbar-left
              .form-group
                input.form-control(type='text', placeholder='Search')
              button.btn.btn-default(type='submit') Submit
          ul.nav.navbar-nav.navbar-right
            if(currentUser.roles.indexOf('Admin') > -1)
              li
                a(href='/admins/add') Add Admins
              li
                a(href='/admins/all') All Admin
            else
            li
              a(href='/users/profile')
                span.glyphicon.glyphicon-user=currentUser.username
            li
              form#logout-form(method="post" action="/users/logout")
              a(href="javascript:document.getElementById('logout-form').submit()")
                span.span.glyphicon.glyphicon-log-out
                | Logout
        else
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/users/register')
                span.glyphicon.glyphicon-user
                |  Sign Up
            li
              a(href='/users/login')
                span.glyphicon.glyphicon-log-in
                |  Login
    if (globalError)
      h3= globalError
    main.container
      block content
    footer
      p © Food Catalog
