h1 {
    text-align: center;
    margin-bottom: 60px;
}
.recipe-add {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    padding: 10px;
}
input[type="file"] {
    padding-left: 100px;
     display: inline-block;
}
img {
    width: 400px;
    max-width: 100%;
}
h2 {
    font-size: 1.8em;
    word-wrap: break-word;
}
footer {
    text-align: center;
}
.col {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
p.description {
    width: 66%;
    text-align: justify;
}
textarea {
     resize: none;
     /*width: 200px;*/
}
.form-group.description {
    width: 200px
}
.form-control.custom-select {
    width: 200px
}