extends ../main
block content
  h1 Login:
  form.form-horizontal(method='POST',action='/users/login')
    .form-group
      label.col-md-4.control-label(for='name')
    .col-md-4
      input#name.form-control.input-md(name="username" type="text" placeholder="Enter your name" )
    .form-group
      label.col-md-4.control-label(for='password')  
    .col-md-4
      input#name.form-control.input-md(name="password" type="password" placeholder="Enter your password")
    .form-group
      label.col-md-4.control-label(for="signup")
      .col-md-4
    button#signup.btn.btn-success Login