extends ../main.pug
block content
  h2=Contact
    form(method='post', enctype='multipart/form-data')
      label Your name:
      br
      input(type='text')
      br
      br
      label Your message:
      br
      textarea
      br
      input.btn.btn-primary(type='submit', value='Submit')