<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ShopStop</title>
    <link rel="stylesheet" href="../../content/site.css">
    <link rel="icon" href="../../content/favicon.ico" type="image/x-icon"/>
</head>

<body>
<header>
    <nav class="nav">
        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/product/add">Add Product</a></li>
            <li><a href="/category/add">Add Category</a></li>
        </ul>
    </nav>
</header>
<main>
    <form class="form center-form" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" class="input-field"/>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" class="input-field"></textarea>
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input id="price" name="price" type="number" step="0.01"
                   class="input-field"/>
        </div>

        <div class="form-group">
            <label for="image">Image</label>
            <input id="image" name="image" type="file" class="input-field" accept="image/png"/>
        </div>

        <div class="form-group">
            <label for="group">Group</label>
            <select name="category" class="input-field">
                <% for (let category of categories) { %>
                <option value=<%= category._id %>><%= category.name %></option>
                <% } %>
            </select>
        </div>

        <div class="form-group">
            <input class="btn form-btn btn" type="submit" value="Add">
        </div>
    </form>

</main>
<footer>
    <p>&copy; ShopStop</p>
</footer>
</body>
</html>
