<h2>List Animals</h2>

<div class="animal-container">
  <div>
    <input type="text" name="searchText" [(ngModel)]="searchText" />
    <button (click)="search()">Search</button>
  </div>

  <div *ngIf="animals?.length === 0">
    No more animals available!
  </div>
  <div *ngFor="let animal of animals">
    <p>Name: {{animal.name}} - Type: {{animal.type}}</p>
    <img [src]="animal?.image" [alt]="animal?.namee">
    <p><a routerLink="/animals/details/{{animal.id}}">See More</a></p>
  </div>
  <div class="page">
    <button [disabled]="page === 1" (click)="prevPage()">Prev</button>
    <button [disabled]="animals?.length === 0 || animals?.length < 10" (click)="nextPage()">Next</button>
  </div>
</div>